<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Contact Us - Kilmaine Kakes</title>
</head>
<body>
    <nav>
        <div class="logo">
        <img src="https://i.ibb.co/b3swY7M/Yellow-Green-Pastel-Color-Illustrative-Cake-Logo-3.png" alt="Kilmaine Kakes Logo">
        </div>  
        <h1>CONTACT US</h1>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="column-home">
                <img src="https://i.ibb.co/G52fYCW/peanut-butter-cupcake.jpg" alt="Kilmaine Kakes Logo" width="400px">
            </div>
            <div class="column-home">
                <br>
                <br>
                <h2>Contact Us</h2>
                <br>
                <br>
                <h3>For orders and inquiries, please contact us at:</h3>
                <h3>Phone: {{ contact[0][0] }}</h3>
                <h3>Email: {{ contact[0][1] }}</h3>
                <h3>Opening Hours: {{ contact[0][2] }}</h3>
            </div>
            <div class="column-home">
                <img src="https://i.ibb.co/nDSqgBc/biscoff-cake.jpg" alt="Kilmaine Kakes Logo" width="400px">
            </div>
        </div>
    </div>
</body>
</html>
