<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Kilmaine Kakes</title>
</head>
<body>
    <nav>
        <div class="logo">
        <img src="https://i.ibb.co/b3swY7M/Yellow-Green-Pastel-Color-Illustrative-Cake-Logo-3.png" alt="Kilmaine Kakes Logo">
        </div>  
        <h1>HOME</h1>
        <ul class="nav-links">
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <div class="container"> 
        <h1>Welcome to Kilmaine Kakes</h1>
        <div class="row">
            <div class="column">
                <img src="https://i.ibb.co/b3swY7M/Yellow-Green-Pastel-Color-Illustrative-Cake-Logo-3.png" alt="Kilmaine Kakes Logo">
            </div>
            <div class="column">
                <h2>About Us</h2>
                <p>Kilmaine Kakes is a family-owned bakery dedicated to crafting exquisite cakes and pastries for all occasions. For over 30 years, our skilled bakers have poured their passion into creating delectable confections using time-honored recipes and the finest all-natural ingredients. From light and airy genoise to rich, fudgy layers, every bite is a flavor symphony that dances across the palate.</p>
                <p>While taste reigns supreme, Kilmaine Kakes is also renowned for our breathtaking artistry. Our talented cake decorators are true masters, transforming each creation into an edible masterpiece. Whether an elegant wedding cake adorned with handcrafted sugar flowers or a whimsical children's cake brimming with imaginative details, our decorators bring visions to life. With an array of indulgent pastries like buttery croissants and silky crème brûlées, Kilmaine Kakes is the perfect destination to make any occasion extraordinary.</p>
            </div>
        </div>

        <h2>Testimonials</h2>
        <div class="testimonials">
            <blockquote>
                "Absolutely divine! Kilmaine Kakes never disappoints. Their cakes are not only visually stunning but also incredibly delicious. Every bite is a piece of heaven!"
                <cite>- Sarah W., satisfied customer</cite>
            </blockquote>
        </div>
        <br>
        <div class="testimonials">
            <blockquote>
                ""Kilmaine Kakes made our wedding day truly unforgettable with their stunning wedding cake. From the moment we saw it, we were blown away by its elegance and beauty. Not only was it a masterpiece to behold, but every layer was bursting with flavor. It was the perfect centerpiece for our special day, and our guests couldn't stop raving about it. Thank you, Kilmaine Kakes, for creating a cake that exceeded our wildest dreams and made our wedding day even more magical."
                <cite>- Jessica and Mark, happily married couple</cite>
            </blockquote>
        </div>
        <br>
        <div class="testimonials">
            <blockquote>
                "I ordered a custom cake for my daughter's birthday, and it was a showstopper! The intricate design and exquisite flavor left everyone in awe. Kilmaine Kakes truly exceeded my expectations"
                <cite>- Emily S., delighted customer</cite>
            </blockquote>
        </div>
        <br>
        <div class="row">
            <div class="column-home">
                <img src="https://i.ibb.co/G52fYCW/peanut-butter-cupcake.jpg" alt="Kilmaine Kakes Logo" width="400px">
            </div>
            <div class="column-home">
                <br>
                <br>
                <br>
                <h2>Contact Us</h2>
                <br>
                <br>
                <h3>For orders and inquiries, please contact us at:</h3>
                <h3>Phone: 123-456-7890</h3>
                <h3>Email: info@kilmainekakes.com</h3>
            </div>
            <div class="column-home">
                <img src="https://i.ibb.co/nDSqgBc/biscoff-cake.jpg" alt="Kilmaine Kakes Logo" width="400px">
            </div>
        </div>
    </div>
</body>
</html>